In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('orgwide.db')
curr = conn.cursor()

In [3]:
curr.execute("""
CREATE TABLE employees (
            employee_id INTEGER PRIMARY KEY AUTOINCREMENT,
            employee_name TEXT,
            department TEXT,
            salary INTEGER);
             """)

KeyboardInterrupt

In [ ]:
curr.execute(
"""
INSERT INTO employees(employee_name, department, salary)
VALUES 
('Alice', 'HR', 50000),
('Dennis', 'IT', 70000),
('James', 'Logistics', 40000),
('Mary', 'Customer Service', 45000),
('Susan', 'Finance', 150000);
"""
)

In [7]:
pd.read_sql("""
SELECT department, AVG(salary) as avg_salary
FROM employees 
GROUP BY department 
ORDER BY avg_salary DESC
LIMIT 1;      
""", conn)

      department  avg_salary
0  Data Engineer    230000.0

In [9]:
conn.execute("""
INSERT INTO employees (employee_name, department, salary)
VALUES('Kevin', 'IT', 200000);""")

In [13]:
conn.commit()

pd.read_sql()